@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>About Us<br></h2>
        <p><span>Learn More</span> <span class="description-title">About Us</span></p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                <img src="~/assets/img/about.jpg" class="img-fluid mb-4" alt="">
                <div class="book-a-table">
                    <h3>Book a Table</h3>
                    <p>+20 120 671 2650</p>
                </div>
            </div>
            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        At Yummy, we blend culinary excellence with warm hospitality. Our journey is one of passion, dedication, and a commitment to delivering an exceptional dining experience to our cherished guests. From the moment you step through our doors, you become part of our delicious story.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Warm Welcomes: Expect friendly smiles and personalized service from our attentive staff</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Charming Ambiance: Our modern yet cozy setting sets the stage for memorable dining experiences.</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Crafted with Passion: Our chefs create each dish with meticulous care, using fresh ingredients and innovative techniques.</span></li>
                    </ul>
                    <p>
                        We’re more than just a restaurant; we’re a vibrant universe where every dish has a tale to tell. Whether it’s the chef’s inspirations, cultural threads woven into our cuisine,
                        or our inviting ambiance, every scroll through our digital tapestry reveals stories simmering behind the flavors.
                    </p>

                    <div class="position-relative mt-4">
                        <img src="~/assets/img/about-2.jpg" class="img-fluid" alt="">
                        <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section><!-- /About Section -->